AUTH_ENCRYPTION_PRIVATE_KEY=replace-with-a-long-private-key
DATABASE_CONNECTION_STRING=postgres://postgres:postgres@localhost:5432/coolab_core_service
DATABASE_READ_CONNECTION_STRING_1=
DATABASE_READ_CONNECTION_STRING_2=
HTTP_PORT=8080
NODE_ENV=local
REDIS_DATABASE=0
REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_URL=localhost
SERVICE_NAME=coolab-core-service
